body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-image: url('../imagens/fundo.jpg');
    background-size: cover; /* Para cobrir todo o elemento com a imagem */
    user-select: none;
}

.container{
    color: azure;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: black;
    padding: 40px 60px;
}

h2{
    font-size: 3em;
    color: azure;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: azure;
    background-color: black;
    border-color: azure;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: black;
    background-color: red;
}

.game{
    width: 650px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra completamente a div */
    cursor: pointer;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../imagens/disco.jpg');
    background-size: cover;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.caixaAberta {
    transform: rotateY(0deg);
}

.caixaAberta::after, caixaCerta::after {
    transform: rotateY(180deg);
}